
#num
{
	position: absolute;
	background-color: #eacf8087;
	border: 3px #b7ac8d solid;
	border-radius: 10px;
    width: 23%;
    margin-top: 5vh;
    margin-left: 70%;
    height: 430px;
    padding: 112px 65px;
    box-shadow: 8px 8px black;
}
.inp_txt
{
	width: 13vw;
}
@media (max-width:980px) 
{
	#num{
	margin-top: 18vh;
    margin-left: 18%;
    width: 67%;
    padding: 24px 20px;
    height: 332px;
}
.inp_txt
{

	width: 53vw;
} 
#Usr_alrdy,#pas_aledy
    {
    	margin-top: 8px;
    }
    #Usr_alrdy
    {
    	margin-left: -28px;
    }
    #log_sb
    {
    	margin-top: 8px;
    	margin-left: 181px;
    }

}